<md-content class="matter-page-template" id="matter-page-settings-general" layout="column">
    <md-toolbar class="md-tall md-toolbar-header">
        <span class="flex"></span>
        <div class="toolbar-tools md-toolbars-tool-bottom" layout="row">
            <h2 flex>
                <span>General Settings</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="md-padding" md-scroll-y layout="row" layout-xs="column">
        <md-card flex-gt-xs="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Notifications</span>
                    <span class="md-subhead">Configure notifications received from your website</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" ng-model="settingsCtrl.formData.settings">
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
        <md-card flex-gt-xs="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Notifications</span>
                    <span class="md-subhead">Configure notifications received from your website</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" ng-model="settingsCtrl.formData.settings">
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
        <md-card flex-gt-xs="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Notifications</span>
                    <span class="md-subhead">Configure notifications received from your website</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" ng-model="settingsCtrl.formData.settings">
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</md-content>
