<mt-module-block layout="row" layout-wrap class="max-1000">
	<div flex="100" flex-gt-xs="33">
    <md-input-container class="md-block mb-30">
      <label>Title</label>
      <textarea ng-model="module.data.title[selectedLanguage]" class="larger"></textarea>
    </md-input-container>
    <mt-input-container class="md-block md-padding mt-10 mb-20 no-padding-bottom">
        <p class="mt-module-title">Lead Text</p>
        <div medium-editor ng-model="module.data.lead[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
    </mt-input-container>
  </div>
  <div flex="100" flex-gt-xs="33">
    <mt-input-container class="md-block md-padding mt-10 mb-20 no-padding-bottom">
        <p class="mt-module-title">Description One</p>
        <div medium-editor ng-model="module.data.description_one[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
    </mt-input-container>
  </div>
  <div flex="100" flex-gt-xs="33">
    <mt-input-container class="md-block md-padding mt-10 mb-20 no-padding-bottom">
        <p class="mt-module-title">Description Two</p>
        <div medium-editor ng-model="module.data.description_two[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
    </mt-input-container>
  </div>
</mt-module-block>
