<md-content class="mt-page-template" id="mt-page-content-settings-general" layout="column">
    <md-toolbar class="md-toolbar-header">
        <span class="flex"></span>
        <div class="toolbar-tools md-toolbars-tool-bottom" layout="row">
            <div flex>
                <h2>
                    <span>Settings</span>
                </h2>
                <small ng-if="authUser.role_id != 1">Your account does not have access to edit languages</small>
            </div>
        </div>
    </md-toolbar>

    <md-content class="mt-data-container md-padding" flex md-scroll-y>
        <div class="mt-config-group content-module-block p-30 card-block">
            <h3>System Languages</h3>
            <md-list layout="column" md-no-ink>
                <md-list-item class="mt-config-item" ng-repeat="lang in settingsCtrl.languages track by $index">
                    <p style="width: 50%; padding-left: 12px" ng-bind="lang.title"></p>
                    <span class="flex"></span>
                    <md-button style="padding-left: 16px; padding-right: 16px" ng-disabled="lang.is_default" ng-click="settingsCtrl.removeLanguage(lang.code, lang.title, $event)" aria-label="Delete language" ng-if="authUser.role_id == 1">remove
                    </md-button>
                </md-list-item>
            </md-list>

            <div class="flex" ng-if="authUser.role_id == 1">
                <md-input-container id="language-selector">
                    <label>Add Language</label>
                    <md-select ng-model="settingsCtrl.languageToAddCode" aria-label="All languages">
                        <md-option ng-repeat="(code,lang) in settingsCtrl.allLanguages" value="{{ code }}" ng-selected="settingsCtrl.languageToAddCode === code" ng-bind="lang" ng-click="settingsCtrl.languageToAddCode = code; settingsCtrl.languageToAddTitle = lang">
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-button ng-disabled="!settingsCtrl.languageToAddCode" ng-click="settingsCtrl.addLanguage()">add
                    language
                </md-button>
                <br>
                <p>If a language you want to add is not available, please file a request to our developers</p>
            </div>
        </div>

        <div ng-if="settingsCtrl.loading" class="loading-overlay" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .35)">
            <span style="color: white; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: 32px; width: 128px; text-align: center">Loading Data...</span>
        </div>
    </md-content>
</md-content>
