<mt-module-block layout-padding layout-wrap layout="row" class="mt-module--block mt-module--sliders-fullscreen">
    <div ng-repeat="column in module.data" flex="100" flex-gt-xs="50">
        <div class="mt-module__image-wrapper cursor mb-30" layout="column" layout-align="center center" ng-click="pageEditCtrl.filePicker(column.background, $event)">
            <img ng-src="{{ __serverAddress }}media/{{ column.background.src }}">
        </div>

        <md-input-container class="md-block">
            <label>Column title</label>
            <input type="text" ng-model="column.title[selectedLanguage]">
        </md-input-container>
        <mt-input-container class="md-padding no-padding-top no-padding-left-right">
            <p class="mt-module-title">Column description</p>
            <div medium-editor ng-model="column.description[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
        </mt-input-container>
    </div>
</mt-module-block>
