<mt-module-block layout="row" layout-wrap class="max-1000">

  <div flex="100" flex-gt-xs="33">
    <md-input-container class="md-block">
      <label>Title</label>
      <textarea ng-model="module.data.title[selectedLanguage]" class="larger"></textarea>
    </md-input-container>

  </div>
  <div flex="100" flex-gt-xs="33">
    <mt-input-container class="md-block md-padding mt-10 mb-20 no-padding-bottom">
        <p class="mt-module-title">Heading</p>
        <div medium-editor ng-model="module.data.heading[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
    </mt-input-container>
  </div>

  <hr>

  <div flex="100" flex-gt-xs="33" ng-repeat="gallery in module.data.gallery track by $index">
    <div class="mt-module-block mt-bg-image ml-30" style="background-image:url({{ __serverAddress }}media/{{ gallery.banner.src }})">
        <button class="mt-module-remove-button" ng-click="pageEditCtrl.removeModuleBlock(module, $index)">
            <md-icon md-svg-icon="icons/close.svg"></md-icon>
        </button>
    </div>
    <md-input-container class="md-block">
      <label>Title</label>
      <textarea ng-model="gallery.title[selectedLanguage]" class="larger bordered"></textarea>
    </md-input-container>
    <mt-input-container class="md-block md-padding mt-10 mb-20 no-padding-bottom">
        <p class="mt-module-title">Text</p>
        <div medium-editor ng-model="gallery.text[selectedLanguage]" bind-options="mediumOptionsBasic"></div>
    </mt-input-container>
    <md-input-container class="md-block">
      <label>Link URL</label>
      <input type="text" ng-model="gallery.link.url" class="smaller">
    </md-input-container>

  </div>


</mt-module-block>
