<mt-module-block layout-padding layout-wrap class="mt-module--block mt-module--sliders-fullscreen">
    <div layout="row" layout-wrap>
        <div flex="50">
            <md-input-container class="md-block">
                <label>Slider Title</label>
                <input type="text" ng-model="module.config.title[selectedLanguage]">
            </md-input-container>
        </div>
    </div>

    <div layout="row" layout-wrap>
        <div class="mt-module--item mt-module--sliders-testimony" ng-repeat="testimony in module.data track by $index" flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-md="25" flex-gt-lg="20">
            <mt-input-container class="md-padding no-padding-top no-padding-left-right">
                <p class="mt-module-title">Testimony</p>
                <div medium-editor ng-model="testimony.text" bind-options="mediumOptionsBasic"></div>
            </mt-input-container>
            <mt-input-container class="md-padding md-block">
                <p class="mt-module-title">Source</p>
                <div medium-editor ng-model="testimony.source" bind-options="{toolbar:{buttons:['anchor']}}"></div>
            </mt-input-container>
        </div>
        <!-- Module duplicator takes the first data inside a module.data and pushes it to the end of the module.data -->
        <mt-module-duplicator class="mt-module-block mt-add-image" flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-md="25" flex-gt-lg="20" layout="column" layout-align="center center" ng-click="pageEditCtrl.moduleDuplicator(module)">
            <md-icon md-icon-ghost md-svg-icon="icons/add.svg"></md-icon>
        </mt-module-duplicator>
    </div>
</mt-module-block>
